<!-- 首頁 -->
<!DOCTYPE HTML>
<html>
	<head>
		<title>{:__('CompanyName')}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="__CDN__/assets/css/main.css">
	</head>

	<body>
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{:url('/')}" class="logo">Home</a>
					<nav id="nav">
						<a href="{:url('/')}">{:__('Home')}</a>
						<a href="{:url('elements/index')}">{:__('About')}</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>{:__('CompanyName')}</h1>
				</div>
			</section>

		<!-- Three -->
		<section id="three">
			<div class="inner">
				<article>
					<div class="content" style="text-align: center;">
						<!-- <span class="icon fa-laptop"></span> -->
						<img src="__CDN__/assets/img/img_10.png" alt="" />
						<header>
							<h4>接口申請</h4>
						</header>
						<p>接口申請</p>
						<ul class="actions">
							<!-- <li><a href="#" class="button alt">Learn More</a></li> -->
						</ul>
					</div>
				</article>
				<article>
					<div class="content" style="text-align: center;">
						<!-- <span class="icon fa-diamond"></span> -->
						<img src="__CDN__/assets/img/img_12.png" alt="" />
						<header>
							<h4>二維碼支付</h4>
						</header>
						<p>二維碼支付</p>
						<ul class="actions">
							<!-- <li><a href="#" class="button alt">Learn More</a></li> -->
						</ul>
					</div>
				</article>
				<article>
				<div class="content" style="text-align: center;">
						<!-- <span class="icon fa-laptop"></span> -->
						<img src="__CDN__/assets/img/img_11.png" alt="" />
						<header>
							<h4>商戶系統管理</h4>
						</header>
						<p>商戶系統管理</p>
						<ul class="actions">
							<!-- <li><a href="#" class="button alt">Learn More</a></li> -->
						</ul>
					</div>
				</article>
			</div>
		</section>
		<!-- Two -->
			<section id="two">
				<div class="inner">
					<article>
						<div class="content" style="text-align: center;">
							<header>
								<h3>經營觀念</h3>
							</header>
							<div class="image fit">
								<img src="__CDN__/assets/img/t1.jpg" alt="" />
							</div>
							<p>彈性愉快的工作環境，尊重每位員工的創意與想法為宗旨。
								在這裡可以不受限制的盡情發揮出你的創意與能力。
								在變革快速的環境下一同增長技術與創意想法。</p>
						</div>
					</article>
					
					<article class="alt">
						<div class="content" style="text-align: center;">
							<header>
								<h3>Morbi interdum mol</h3>
							</header>
							<div class="image fit">
								<img src="__CDN__/assets/img/t2.jpg" alt="" />
							</div>
							<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
						</div>
					</article>
				</div>
			</section>

			<!-- 底下 -->
					<div class="copyright" style="text-align: center;">
						<h6>&copy; 2021 <a href="#">{:__('CompanyName')}</a></h6>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
			<script src="__CDN__/assets/js/jquery.min.js"></script>
			<script src="__CDN__/assets/js/browser.min.js"></script>
			<script src="__CDN__/assets/js/breakpoints.min.js"></script>
			<script src="__CDN__/assets/js/util.js"></script>
			<script src="__CDN__/assets/js/main.js"></script>
			<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
			
	</body>
</html>