{include file="layout/music_header" keywords="Home"}
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>{:__('CompanyName')}</h1>
				</div>
			</section>

		<!-- Three -->
		<section id="three">
			<div class="inner">
				<article>
					<div class="content" style="text-align: center;">
						<!-- <span class="icon fa-laptop"></span> -->
						<img src="__CDN__/assets/img/img_10.png" alt="" />
						<header>
							<h4>接口申請</h4>
						</header>
						<p>接口申請</p>
						<ul class="actions">
							<!-- <li><a href="#" class="button alt">Learn More</a></li> -->
						</ul>
					</div>
				</article>
				<article>
					<div class="content" style="text-align: center;">
						<!-- <span class="icon fa-diamond"></span> -->
						<img src="__CDN__/assets/img/img_12.png" alt="" />
						<header>
							<h4>二維碼支付</h4>
						</header>
						<p>二維碼支付</p>
						<ul class="actions">
							<!-- <li><a href="#" class="button alt">Learn More</a></li> -->
						</ul>
					</div>
				</article>
				<article>
				<div class="content" style="text-align: center;">
						<!-- <span class="icon fa-laptop"></span> -->
						<img src="__CDN__/assets/img/img_11.png" alt="" />
						<header>
							<h4>商戶系統管理</h4>
						</header>
						<p>商戶系統管理</p>
						<ul class="actions">
							<!-- <li><a href="#" class="button alt">Learn More</a></li> -->
						</ul>
					</div>
				</article>
			</div>
		</section>
		<!-- Two -->
			<section id="two">
				<div class="inner">
					<article>
						<div class="content" style="text-align: center;">
							<header>
								<h3>經營觀念</h3>
							</header>
							<div class="image fit">
								<img src="__CDN__/assets/img/t1.jpg" alt="" />
							</div>
							<p>彈性愉快的工作環境，尊重每位員工的創意與想法為宗旨。
								在這裡可以不受限制的盡情發揮出你的創意與能力。
								在變革快速的環境下一同增長技術與創意想法。</p>
						</div>
					</article>
					
					<article class="alt">
						<div class="content" style="text-align: center;">
							<header>
								<h3>備註</h3>
							</header>
							<div class="image fit">
								<img src="__CDN__/assets/img/t2.jpg" alt="" />
							</div>
							<p>1. 房間功能</p>
						</div>
					</article>
				</div>
			</section>

			<!-- 底下 -->
					<div class="copyright" style="text-align: center;">
						<h6>&copy; 2021 <a href="#">{:__('CompanyName')}</a></h6>
					</div>
				</div>
			</section>

		
{include file="layout/music_script"}
{include file="layout/music_footer"}