<!DOCTYPE HTML>
<html>
	<head>
		<title>{:__('CompanyName')}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="__CDN__/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{:url('/')}" class="logo">About</a>
					<nav id="nav">
						<a href="{:url('/')}">{:__('Home')}</a>
						<a href="{:url('music/index')}">Music</a>
						<a href="{:url('about/index')}">{:__('About')}</a>
						<a href="{:url('user/index')}">{:__('User center')}</a>
						{if $checklogin}
						<span>你好,  {$user_name} <input type="button" name="a" id="a" value="登出"></span>
						{else /}
						<a href="{:url('user/login')}"><button>Login in</button></a>
						{/if}
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special">
						<h1>關於我們</h1>
						<h3>智匯網路科技有限公司</h3><p>{$getText}</p>
					</header>
					<hr>
				</div>
				
		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h2>{:__('GetinTouch')}</h2>
					</header>

						<div class="field half first">
							<label for="name">Name</label>
							<input type="text"  id="name" autocomplete="off"/>
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text"  id="email" autocomplete="off"/>
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea  id="message" rows="4" autocomplete="off"></textarea>
						</div>
						<br>
						<ul class="actions">
							<button id="apibutton">Send Message</button>
						</ul>
						
						
					<!-- 底下 -->
					<!-- <div class="copyright">
						<h6>&copy; 2021 <a href="#">{:__('CompanyName')}</a></h6>
					</div> -->
				</div>
			</section>


			<!-- Scripts -->
			<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
			<!-- <script src="__CDN__/assets/js/jquery.min.js"></script> -->
			<script src="__CDN__/assets/js/browser.min.js"></script>
			<script src="__CDN__/assets/js/breakpoints.min.js"></script>
			<!-- <script src="__CDN__/assets/js/util.js"></script> -->
			<!-- <script src="__CDN__/assets/js/main.js"></script> -->
			<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

			<!-- 彈出視窗js -->
			<!-- toastr v2.1.4 -->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet"  />
			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
			<script>
				toastr.options = {
					// 參數設定[註1]
					"closeButton": false, // 顯示關閉按鈕
					"debug": false, // 除錯
					"newestOnTop": false,  // 最新一筆顯示在最上面
					"progressBar": true, // 顯示隱藏時間進度條
					"positionClass": "toast-bottom-left", // 位置的類別
					"preventDuplicates": false, // 隱藏重覆訊息
					"onclick": null, // 當點選提示訊息時，則執行此函式
					"showDuration": "300", // 顯示時間(單位: 毫秒)
					"hideDuration": "1000", // 隱藏時間(單位: 毫秒)
					"timeOut": "5000", // 當超過此設定時間時，則隱藏提示訊息(單位: 毫秒)
					"extendedTimeOut": "1000", // 當使用者觸碰到提示訊息時，離開後超過此設定時間則隱藏提示訊息(單位: 毫秒)
					"showEasing": "swing", // 顯示動畫時間曲線
					"hideEasing": "linear", // 隱藏動畫時間曲線
					"showMethod": "fadeIn", // 顯示動畫效果
					"hideMethod": "fadeOut" // 隱藏動畫效果
				}
				// 成功
				// toastr.success( "Success" );
				// // 警告
				// toastr.warning( "Warning" );
				// // 失敗
				// toastr.error( "Error" );
			</script>

			<script>
				$("#apibutton").click(function(){
					
					if($("#name").val() == ""){
						toastr.warning("請確認姓名欄位");
					}else if($("#email").val() == ""){
						toastr.warning("請確認信箱欄位");
					}else if( $("#message").val() == ""){
						toastr.warning("請確認訊息欄位");
					}else{
						$.ajax({
							type: "POST", //方法
							url: 'api/Email/EmailAdd',
							data: {
								'name': $("#name").val(),
								'email': $("#email").val(),
								'message': $("#message").val(),
							},
							success: function (){
								toastr.success("成功");
								setTimeout("window.location.reload()",3000);
							},
							error : function(){
								toastr.error("失敗");
							}
						});
					}
				})
			</script>
	</body>
</html>