<!DOCTYPE HTML>
<html>
	<head>
		<title>{:__('CompanyName')}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="__CDN__/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">About</a>
					<nav id="nav">
						<a href="index.html">{:__('Home')}</a>
						<a href="generic.html">待修改</a>
						<a href="elements.html">{:__('About')}</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special">
						<h1>關於我們</h1>
						<h3>智匯網路科技有限公司</h3><p>{$getText}</p>
					</header>
					<div class="copyright">
						&copy; 2021 <a href="#">{:__('CompanyName')}</a>
					</div>
		<!-- Scripts -->
			<script src="__CDN__/assets/js/jquery.min.js"></script>
			<script src="__CDN__/assets/js/skel.min.js"></script>
			<script src="__CDN__/assets/js/util.js"></script>
			<script src="__CDN__/assets/js/main.js"></script>

	</body>
</html>