<!DOCTYPE HTML>
<html>
	<head>
		<title>{:__('CompanyName')}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="__CDN__/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{:url('/')}" class="logo">Music</a>
					<nav id="nav">
						<a href="{:url('/')}">{:__('Home')}</a>
						<a href="{:url('music/index')}">Music</a>
						<a href="{:url('about/index')}">{:__('About')}</a>
						<a href="{:url('user/index')}">{:__('User center')}</a>
						{if $checklogin}
						<span>你好,  {$user_name} <input type="button" name="a" id="a" value="登出"></span>
						{else /}
						<a href="{:url('user/login')}"><button>Login in</button></a>
						{/if}
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special" >
						<h1>辦公室點歌系統</h1>
						<div id="addDIV">
							<button id="add" onclick="addINPUT()">建立點歌房</button>
						</div>
						<div>
							<h3>備註</h3>
							<h6>加入(尚未有功能)</h6>
			
						</div>
					</header>
					<table>
						<thead>
							<tr>
								<th>房間名稱</th>
								<th>創建人</th>
								<th> </th>
							</tr>
						</thead>
						<tbody>
							{foreach name="list" id="row"}
							<tr id="{$row.id}">
								<td>{$row.title}</td>
								<td>{$row.name}</td>
								<td><button id="musicIn">加入</button> <button id="del" onclick="del('{$row.id}')">刪除</button></td>								
							</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</section>
	


			<!-- Scripts -->
			<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
			<!-- <script src="__CDN__/assets/js/jquery.min.js"></script> -->
			<script src="__CDN__/assets/js/browser.min.js"></script>
			<script src="__CDN__/assets/js/breakpoints.min.js"></script>
			<!-- <script src="__CDN__/assets/js/util.js"></script> -->
			<!-- <script src="__CDN__/assets/js/main.js"></script> -->
			<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
			
	</body>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet"  />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
	<script>
		toastr.options = {
			// 參數設定[註1]
			"closeButton": false, // 顯示關閉按鈕
			"debug": false, // 除錯
			"newestOnTop": false,  // 最新一筆顯示在最上面
			"progressBar": true, // 顯示隱藏時間進度條
			"positionClass": "toast-bottom-left", // 位置的類別
			"preventDuplicates": false, // 隱藏重覆訊息
			"onclick": null, // 當點選提示訊息時，則執行此函式
			"showDuration": "300", // 顯示時間(單位: 毫秒)
			"hideDuration": "1000", // 隱藏時間(單位: 毫秒)
			"timeOut": "5000", // 當超過此設定時間時，則隱藏提示訊息(單位: 毫秒)
			"extendedTimeOut": "1000", // 當使用者觸碰到提示訊息時，離開後超過此設定時間則隱藏提示訊息(單位: 毫秒)
			"showEasing": "swing", // 顯示動畫時間曲線
			"hideEasing": "linear", // 隱藏動畫時間曲線
			"showMethod": "fadeIn", // 顯示動畫效果
			"hideMethod": "fadeOut" // 隱藏動畫效果
		}
		// 成功
		// toastr.success( "Success" );
		// // 警告
		// toastr.warning( "Warning" );
		// // 失敗
		// toastr.error( "Error" );
	</script>
	
	<script>
		// 點歌列表 - 刪除功能
		function del(id)
		{
			var yes = confirm("確定刪除？");
			if(yes == true){
				$.ajax({
				type: "POST",
				url: "api/MusicList/MusicListDel",
				data:{
					'id': id
				},
				success: function(){
					toastr.success("成功");
					setTimeout("window.location.reload()", 3000);
				},
				error: function(){
					toastr.error("失敗");
				}
				})
			}else{
				return false
			}
		}
	</script>



<!----------------------------------- 建立點歌房 ----------------------------------->
	<script>
		// 建立點歌房
		function addINPUT(){
			document.getElementById("addDIV").innerHTML='<button id="add">建立點歌房</button> <br>房間名稱：<input id="settitleText" type="text" style="width: 300px;"><button id="setMusic" onclick="setMusic(title)">創建</button> <button id="musicno" onclick="musicNo()">取消</button>';
		}
	</script>
	<script>
		// 創建 點歌房
		function setMusic(title){
			var title = $("#settitleText").val();
			if(title == ""){
				toastr.warning("請輸入房間名稱");
				
			}else{
				// 從controller 中帶過來的$user_name
				var name = '<?php echo $user_name;?>'
				$.ajax({
					type: 'POST',
					url: "api/MusicList/MusicListAdd",
					data: {
						'title': $("#settitleText").val(),
						'name': name,
					},
					success: function(){
						toastr.success("成功");
						setTimeout("window.location.reload()",3000);
					}
				})
			}
		}
	</script>
	<script>
		// 取消
		function musicNo(){
			document.getElementById("addDIV").innerHTML='<button id="add" onclick="addINPUT()">建立點歌房</button>';
		}
	</script>
</html>