{include file="layout/music_header"  keywords="Music"}
		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special" >
						<h1>辦公室點歌系統</h1>
						<div id="addDIV">
							<button id="add" onclick="addINPUT()">建立點歌房</button>
						</div>
						<div>
							<h3>備註</h3>
							<h6>加入後 頁面建立</h6>
			
						</div>
					</header>
					<table>
						<thead>
							<tr>
								<th>房間名稱</th>
								<th>創建用戶</th>
								<th>功能</th>
							</tr>
						</thead>
						<tbody>
							{foreach name="list" id="row"}
							<tr id="{$row.id}">
								<td id="music_title">{$row.title}</td>
								<td id="music_name">{$row.name}</td>
								{if $row.user_id==$auth_id}
								<td>
									<a href="/music/musicRoom/{$row.token}" target="_blank"><button id="musicIn">加入</button></a>
									<button id="del" onclick="del('{$row.id}')">刪除</button>
								</td>
								{else/}
								<td>
									<a href="/music/musicRoom/{$row.token}" target="_blank"><button id="musicIn">加入</button></a>
								</td>
								{/if}
							</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</section>

{include file="layout/music_script"}
		<script>
			// 點歌列表 - 刪除功能
			function del(id)
			{
				var yes = confirm("確定刪除？");
				var name = '<?php echo $user_name;?>';
				if(yes == true){
					$.ajax({
					type: "POST",
					url: "api/MusicList/MusicListDel",
					data:{
						'id': id,
						'name': name,
						'status': 0
					},
					success: function(){
						toastr.success("成功");
						setTimeout("window.location.reload()", 1000);
					},
					error: function(){
						toastr.error("失敗");
					}
					})
				}else{
					return false
				}
			}
		</script>



	<!----------------------------------- 建立點歌房 ----------------------------------->
		<script>
			// 建立點歌房
			function addINPUT(){
				var status = "<?php echo $status;?>";
				if(status == 1){
					toastr.warning("您已建立過房間");
				}else{
					document.getElementById("addDIV").innerHTML='<button id="add">建立點歌房</button> <br>房間名稱：<input id="settitleText" type="text" value="" style="width: 300px;"><button id="setMusic" onclick="setMusic(title)">創建</button> <button id="musicno" onclick="musicNo()">取消</button>';
				}
			}
		</script>
		<script>
			// 創建 點歌房
			function setMusic(title){
				var title = $("#settitleText").val();
				if(title == ""){
					toastr.warning("請輸入房間名稱");
					
				}else{
					// 從controller 中帶過來的$user_name
					// 將auth_id 帶至 MusicHouse表格中的user_id欄位
					var name = '<?php echo $user_name;?>'
					var id = '<?php echo $auth_id;?>'
					$.ajax({
						type: 'POST',
						url: "api/MusicList/MusicListAdd",
						data: {
							'title': $("#settitleText").val(),
							'name': name,
							'user_id': id,
							'status': 1
						},
						success: function(){
							toastr.success("成功");
							setTimeout("window.location.reload()",1000);
						},
						error: function(){
							toastr.error("失敗");
						}
					})
				}
			}
		</script>
		<script>
			// 取消
			function musicNo(){
				document.getElementById("addDIV").innerHTML='<button id="add" onclick="addINPUT()">建立點歌房</button>';
			}
		</script>

		<script>
			function SignOut(){
				$.ajax({
					type: "POST",
					url: "api/User/logout",
					success: function (){
						toastr.success("成功登出");
						setTimeout("window.location.reload()",1000);
					},
					error : function(){
						toastr.error("失敗");
					}
				})
			}
		</script>
{include file="layout/music_footer"}
