<!DOCTYPE HTML>
<html>
	<head>
		<title>{:__('CompanyName')}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="__CDN__/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{:url('/')}" class="logo">Music</a>
					<nav id="nav">
						<a href="{:url('/')}">{:__('Home')}</a>
						<a href="{:url('music/index')}">Music</a>
						<a href="{:url('about/index')}">{:__('About')}</a>
						<a href="{:url('user/index')}">{:__('User center')}</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special" >
                        <h1>辦公室點歌系統</h1>
					</header>
					<!-- 暫時使用 房間清單-->
						<div class="card mb-4">
							<div class="card-header">Header</div>
							<div class="card-body playlist">
								<ul class="list-group list-group-flush" id="history"></ul>
								{foreach name="list" id="row"}
								<li class="list-group-item">{$row.title}</li><p>創建者: {$row.name}</p>
								{/foreach}
							</div>
						</div>
				</div>
			</section>
	


			<!-- Scripts -->
			<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
			<script src="__CDN__/assets/js/jquery.min.js"></script>
			<script src="__CDN__/assets/js/browser.min.js"></script>
			<script src="__CDN__/assets/js/breakpoints.min.js"></script>
			<script src="__CDN__/assets/js/util.js"></script>
			<script src="__CDN__/assets/js/main.js"></script>
			<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	</body>
	<script>
	function setHistory(sHistory) {
            $("#history").html("");
            var oHistory = JSON.parse(sHistory);
            var index = Math.floor(Math.random() * Object.keys(oHistory).length);
            for (const [key, value] of Object.entries(oHistory)) {
                var title1 = value.title;
                if (title1.length > 43) {
                    title1 = title1.slice(0, 40) + '...';
                }
                $("#history").append('<li class="list-group-item">' +
                    '<button class="btn btn-info" type="button" onclick="add(\'' + value.id + '\',\'' + value.title + '\')">點播</button>\n' +
                    '<button class="btn btn-warning" type="button" onclick="interstitial(\'' + value.id + '\',\'' + value.title + '\')">插播</button> - ' +
                    title1 + '</li>');
            }
        }
	</script>
</html>